.form {
    text-align: center;
    margin: 2rem auto;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-control {
    position: relative;
    line-height: 2rem;
}

.input {
    border-radius: 8px;
    font-size: 1.5rem;
    line-height: 2.5rem;
    width: 100%;
    background-color: transparent;
    position: relative;
    color: white;
    z-index: 3;
    border: 2px solid white;
}

.placeholder {
    color: white; 
    background-color: transparent;
    font-size: 1.1rem;
    line-height: 2.5rem;
    position: absolute;
    top: 0;
    left: 0px;;
    z-index: 1;
    background-color: transparent;
    padding: 0.3rem 1rem;
    transition: all 0.2s ease-in-out;
}

input:focus {
    color: rgb(62, 211, 62);
    outline: 2px solid rgb(62, 211, 62);
    border: 2px solid rgb(62, 211, 62);
    
}

input:focus + .placeholder,
input:valid + .placeholder {
    z-index: 5;
    color: rgb(62, 211, 62);
    transform: translate(-0px, -20px) scale(0.7);
    background-color: rgb(60, 60, 252)
}
 

