* {
	box-sizing: border-box;
}

:root {
	min-height: 100vh;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
    background-image: linear-gradient(rgb(4, 4, 156), black);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	color: white;
}

/* @media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
} */
